<div class="register-page">
  <div class="login-container">
    <form action="" class="form" (submit)="submit($event)">
      <div class="row-input">
        <label for="name">Name</label>
        <input
          type="text"
          placeholder="Name"
          [(ngModel)]="formData.name"
          name="name"
        />
      </div>
      <div class="row-input">
        <label for="lastname">Lastname</label>
        <input
          type="text"
          placeholder="Lastname"
          name="lastname"
          [(ngModel)]="formData.lastName"
        />
      </div>
      <div class="row-input">
        <label for="email">Cellphone</label>
        <input
          type="text"
          placeholder="Cellphone"
          name="cellphone"
          [(ngModel)]="formData.cellphone"
        />
      </div>
      <div class="row-input">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="Email"
          name="email"
          [(ngModel)]="formData.email"
        />
      </div>
      <div class="row-input">
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="formData.password"
        />
      </div>
      <div class="row-input">
        <label for="birthdate">birthdate</label>
        <input
          type="date"
          placeholder="Birthdate"
          name="birthdate"
          [(ngModel)]="formData.birthdate"
        />
      </div>
      <div class="row-input">
        <label for="gender">Gender</label>
        <select name="gender" required [(ngModel)]="formData.gender">
          <option value="def">Select gender</option>
          <option value="m">Male</option>
          <option value="f">Female</option>
        </select>
      </div>
      <div class="row-input">
        <label for="hobby">Hobby</label>
        <input
          type="text"
          placeholder="Hobby"
          name="hobby"
          [(ngModel)]="formData.hobby"
        />
      </div>
      <button type="submit">sign up</button>
    </form>
  </div>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>
