<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <div class="right-options">
    <span class="example-spacer"></span>
    <button mat-icon-button style="margin-right: 55px" (click)="newUser()">
      <mat-icon>add</mat-icon>New user
    </button>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="logOut()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="table-container">
  <section>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Cellphone</th>
          <th>Gender</th>
          <th>Hobby</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user?.lastName }}</td>
          <td>{{ user?.email }}</td>
          <td>{{ user?.cellphone }}</td>
          <td>{{ user?.gender }}</td>
          <td>{{ user?.hobby }}</td>
          <td><button (click)="showConfirmDel(user._id)">x</button></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<app-modal-alerts
  [active]="showConfirm"
  [type]="typeAlert"
  (closeModal)="closeModal($event)"
  (deleteUserEvent)="deleteUserEvent()"
></app-modal-alerts>
